@font-face {
    font-family: "FT88 Regular";
    src: url("/fonts/FT88-Regular.woff2") format("woff2"),
    url("/fonts/FT88-Regular.woff") format("woff");
}

@font-face {
    font-family: "ProFontWindows";
    src: url("/fonts/ProFontWindows.woff2") format("woff2"),
    url("/fonts/ProFontWindows.woff") format("woff");
}

/* -------------------------------------------------------------------------- */
/*                                   Global                                   */
/* -------------------------------------------------------------------------- */

:root {
    /* Globals */
    --background: #1C1C1C;
    --background-secondary: #161616;
    --background-ternary: #232323;
    --primary: #88C48D;
    --secondary: #8B8B8B;
    --ternary: #7C7C7C;

    --transition-in: 0.1s;
    --transition-out: 0.2s;
    --lateral-padding: 0 20px;

    /* Plyr */
    --plyr-range-thumb-background: transparent;
    /* --plyr-video-progress-buffered-background: transparent; */
    --plyr-color-main: transparent;
    --plyr-range-thumb-shadow: transparent;
    --plyr-range-fill-background: white;
    --plyr-range-track-height: 2px;
    --plyr-tooltip-radius: 0;
    --plyr-tooltip-background: transparent;
    --plyr-tooltip-shadow: transparent;
    --plyr-tooltip-color: var(--primary);
    --plyr-video-controls-background: transparent;
    --plyr-audio-controls-background: transparent;
    --plyr-font-family: 'FT88 Regular';
    --plyr-font-size-base: 0.75rem;
    --plyr-font-size-time: 0.75rem;
    --plyr-font-size-small: 0.75rem;
    /* --plyr-audio-range-track-background: var(--primary);
    --plyr-audio-progress-buffered-background: var(--primary);
    --plyr-audio-range-track-background: var(--primary); */
    --plyr-range-fill-background: var(--primary);
}

.plyr__volume {
    max-width: none;
    min-width: 0;
    width: auto;
}

.plyr--audio .plyr__controls {
    padding: 0;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    /* overscroll-behavior: none; */
    color: var(--primary);
    -webkit-user-drag: none;
}

*::-webkit-scrollbar {
    display: none;
}

#__next {
    opacity: 0;
    transition: opacity 1s;
}

html {
    line-height: 1;
}

body {
    position: relative;
    background: var(--background);
}

html, body{
    overscroll-behavior: none;
}

.body-lock {
    position: fixed;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    overscroll-behavior-x: none;
}

.active-link {
    opacity: 0.4;
}

.active-link .dot {
    background: var(--primary);
}

a {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.125rem;
    text-decoration: none;
    /* transition: opacity var(--transition-out); */
    transition: color var(--transition-out);
}

a:hover {
    /* opacity: 0.4;
    transition: opacity var(--transition-in); */
    color: var(--primary);
    transition: color var(--transition-in);
    /* filter: drop-shadow(0 0 0.2rem var(--primary)); */
}

.hide-on-expand {
    transition: opacity 0.5s;
}

.hide-on-expand--expanded {
    opacity: 0 !important;
    pointer-events: none;
}

.hide-on-expand--expanded a {
    pointer-events: none !important;
}

@media(max-width: 989px) {
    .hide-on-expand {
        transition: opacity 0s;
    }
}

.button {
    display: inline-block;
    line-height: 1;
    cursor: pointer;
}


/* .plyr__volume {
    width: auto !important;
    min-width: auto !important;
} */

.plyr__tooltip {
    backdrop-filter: blur(100px);
}


/* .plyr--full-ui input[type=range] {
    color: black !important;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: black !important;
} */

.CookieConsent {
    background-color: #ffffff !important;
    border-top: 1px solid black !important;
}
  
.CookieConsent p {
    margin: 0;
    color: black;
}

  
.CookieConsent > div:nth-child(1) {
    margin: 10px !important;
}

@media (max-width: 989px) {
    .CookieConsent > div:nth-child(2) {
        margin-left: auto;
    }
}

.CookieConsent #rcc-decline-button,
.CookieConsent #rcc-confirm-button {
    color: black !important;
    background: transparent !important;
    margin: 10px !important;
}

.CookieConsent #rcc-confirm-button {
    border: 1px solid black !important;
}

/* -------------------------------------------------------------------------- */
/*                                    Fonts                                   */
/* -------------------------------------------------------------------------- */


h1, .h1 {
    font-family: "ProFontWindows";
    font-size: 3.3rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h2, .h2 {
    font-family: "ProFontWindows";
    /* font-size: 4rem; */
    font-size: 2.8rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

h3, .h3 {
    font-family: "ProFontWindows";
    /* font-size: 2.8rem; */
    font-size: 1.125rem;
    letter-spacing: 1;
    font-weight: 100;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

h4, .h4 {
    font-family: "ProFontWindows";
    /* font-size: 1.8rem; */
    /* font-size: 1.3rem; */
    font-size: 1.125rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

h5, .h5 {
    font-family: "FT88 Regular";
    /* font-size: 1.6rem; */
    /* font-size: 1.12rem; */
    /* font-size: 1.3rem; */
    font-size: 0.75rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

h6, .h6 {
    font-family: "ProFontWindows";
    /* font-size: 1.3rem; */
    font-size: 1rem;
    /* letter-spacing: -0.02em; */
    font-weight: 100;
    margin: 0;
    line-height: 1;
}

.body-large {
    font-family: "FT88 Regular";
    /* font-size: 1.3rem; */
    font-size: 0.875rem;
    letter-spacing: 0.02em;
    font-weight: 100;
    margin: 10px 0;
    line-height: 1;
    color: var(--secondary);
    text-transform: uppercase;
}


p, .p, a, span {
    font-family: "FT88 Regular";
    /* font-size: 1.3rem; */
    font-size: 0.75rem;
    letter-spacing: 0.02em;
    font-weight: 100;
    margin: 10px 0;
    line-height: 1;
    color: var(--secondary)
}

input, input::placeholder, button, .error-label, label {
    font-family: "FT88 Regular";
    font-size: 1rem;
}

.caption {
    position: absolute;
    font-family: "FT88 Regular";
    font-size: 10px;
    bottom: 10px;
    right: 10px;
    color: white;
    z-index: 2;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 999px !important;
    padding: 10px;
    transition: opacity 0.3s;
}

@media(max-width: 989px) {

}
